basemap >= 1.1.0
Cython >= 0.28.5
dask >= 2.8
distributed >= 2.8
joblib >= 0.12
netcdf4
numpy >= 1.15.0
pandas >= 1.1
pvlib >= 0.6.3
pyephem >= 3.7.6.0
scipy >= 1.1.0
seaborn >= 0.9.0
xarray >= 0.16, < 0.17
